<h1>My Tasks</h1>
<form action="">
<% @tasks.each do |task| %>
  <% if task.completed? %>
    <input type="checkbox" disabled checked>
  <% else %>
    <input type="checkbox" disabled>
  <% end %>

  <%= link_to task.title, task %> <%= link_to 'Delete', task_path(task), method: :delete %><br>
<% end %>
</form>
<br>
<%= link_to '+ Add new Task', new_task_path %>
